body {
    font-family: Comic Sans MS, sans-serif;
    background-color: #fffbf0;
    text-align: center;
    padding: 30px;
}

h1 {
    color: #ff6600;
    font-size: 2.5rem;
}

#books h2 {
    color: #0066ff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 15px 0;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #ff3300;
}

a:hover {
    color: #33cc33;
}
